---
import { getCollection, type CollectionKey } from "astro:content";
import { Picture } from "astro:assets";

interface Props {
  slug: CollectionKey;
  title: string;
}

const { slug, title } = Astro.props;
const collection = await getCollection(slug);
---

<section id={slug}>
  <h2 class="mb-4 text-2xl font-semibold" id={slug}>{title}</h2>
  <ul class="grid grid-cols-1 gap-4">
    {
      collection.map(({ data }) => (
        <li class="flex flex-col gap-1 border-b border-stone-200 pb-4 md:flex-row md:justify-between md:gap-0 md:border md:bg-white md:pb-0">
          {data.imgSrc && (
            <Picture
              src={data.imgSrc}
              alt={data.description}
              formats={["webp", "avif"]}
              class="mb-2 object-cover md:m-0 md:h-full md:max-w-48 lg:max-w-60"
              width={data.imgSrc.width / 3}
              height={data.imgSrc.height / 3}
            />
          )}
          <div class="flex max-w-prose flex-col justify-center leading-relaxed md:order-first md:p-4">
            <h3 class="mb-1 text-lg font-semibold">{data.name}</h3>
            <p class="text-stone-600">{data.description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
